<h1>Modifica task a scadenza</h1>

<%= form_for :wait, url: {action: "update"}, method: :patch do |f| %>

	<%= f.label :data_scadenza %><br>
	<%= f.date_select :data_scadenza %><br>

	<%= f.label :stato %><br>
	<%= f.select :stato, [['DA FARE','DA FARE'],['IN LAVORAZIONE','IN LAVORAZIONE'],['ATTESA','ATTESA'],['FATTO', 'FATTO']] %><br>
	
	<%= f.label :chi %><br>
	<%= f.select :chi, [['IO','IO'],['ROMANIA','ROMANIA'],['INDIA','INDIA'],['ORGANIZZAZIONE','ORGANIZZAZIONE']] %><br>

	<%= f.label :note %><br>
	<%= f.text_area :note %><br>

	<%= f.submit "Modifica", class: "aggiungi" %>
	<%= link_to 'Back', waits_path %>

<% end %>