<div class="container-header">
  <div class="container container-header">
    <div class="row">
      <h1 class="col-xs-6">Task a Scadenza</h1>
      <div class="col-xs-6 container-search">
        <%= form_tag(tasks_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Ricerca per Note, Chi o Stato", class: "search" %>
          <%= submit_tag "Cerca", class: "btn btn-default btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="pull-right container-actions">
    <%= link_to 'Nuovo Task', new_wait_path, class: "btn btn-default" %>
    <%= link_to 'Tutti i Task', tasks_path, class: "btn btn-success" %>
    <%= link_to 'Task Fatti', archived_tasks_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="container">
  <div class="panel panel-default">
    <table class="table table-bordered table-striped table-striped">
      <thead>
        <div class="row">
          <tr>
            <th class="col-xs-1">Apertura</th>
            <th class="col-xs-2">Scadenza</th>
            <th class="col-xs-1">Stato</th>
            <th class="col-xs-5">Chi</th>
            <th class="col-xs-3"></th>
          </tr>
        </div>
      </thead>
      <% @wait.each do |t| %>
      <tbody>
        <div class="row">
          <tr>
            <td class="col-xs-1"><%= t.data_apertura %></td>
            <td class="col-xs-1"><%= t.data_scadenza %></td>
            <td class="col-xs-2"><%= t.stato %></td>
            <td class="col-xs-1"><%= t.chi %></td>
            <td class="col-xs-5"><%= t.note %></td>
            <td class="col-xs-3">
              <%= link_to 'Modifica', edit_wait_path(t), class: "btn btn-warning btn-sm" %>
            </td>
          </tr>
        </div>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
