<% content_for :menu do %>
  <h1 class="col-xs-6">ALL task</h1>
<% end %>
<div class="container">
  <div class="pull-right container-actions">
    <%= link_to 'Nuovo Task', new_task_path, class: "btn btn-default" %>
    <%= link_to 'Task Fatti', archived_tasks_path, class: "btn btn-success" %>
    <%= link_to 'In scadenza', waits_path, class: "btn btn-warning" %>
  </div>
</div>
<div class="container">
  <div class="panel panel-default">
    <table class="table table-bordered table-striped table-striped">
      <thead>
        <div class="row">
          <tr>
            <th class="col-xs-1">Apertura</th>
            <th class="col-xs-2">Stato</th>
            <th class="col-xs-1">Chi</th>
            <th class="col-xs-5">Note</th>
            <th class="col-xs-3"></th>
          </tr>
        </div>
      </thead>
      <tbody>
        <% @task.each do |t| %>
        <div class="row">
          <tr>
            <td class="col-xs-1"><%= t.data_apertura %></td>
            <td class="col-xs-2"><%= t.stato %></td>
            <td class="col-xs-1"><%= t.chi %></td>
            <td class="col-xs-5"><%= t.note %></td>
            <td class="col-xs-3">
              <%= link_to 'Mostra', task_path(t), class: "btn btn-success btn-sm" %>
              <%= link_to 'Modifica', edit_task_path(t), class: "btn btn-warning btn-sm" %>
              <%= link_to 'Elimina', task_path(t), method: :delete, data:{ confirm: 'Sicuro di voler eliminare la Task??', class: "alert alert-warning" }, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        </div>
        <% end %>
      </tbody>
      
    </table>
    
  </div>
</div>