<% content_for :menu do %>
  <h1 class="col-xs-6">Crea un nuovo task</h1>
<% end %>
<div class="container">
  <div class="panel panel-default">
	  <%= form_for :task, url: {action: "create"} do |f| %>
	    <table class="table table-bordered table-striped table-striped">    
	      <thead>
	        <div class="row">
	          <tr>
	            <th class="col-xs-2"><%= f.label :stato %></th>
	            <th class="col-xs-2"><%= f.label :chi %></th>
	            <th class="col-xs-5"><%= f.label :note %></th>
	            <th class="col-xs-3"></th>
	          </tr>
	        </div>
	      </thead>
	      <tbody>     	
	        <div class="row">
	          <tr>
	            <td class="col-xs-2">
	            	<%= f.select :stato, [['DA FARE','DA FARE'],['IN LAVORAZIONE','IN LAVORAZIONE'],['FATTO','FATTO']],{}, { :class => 'form-control' }%>
	            </td>
	            <td class="col-xs-2">
					<%= f.select :chi, [['IO','IO'],['ROMANIA','ROMANIA'],['INDIA','INDIA'],['ORGANIZZAZIONE','ORGANIZZAZIONE']],{}, { :class => 'form-control' } %>
	            </td>
	            <td class="col-xs-5"><%= f.text_area :note, class: "form-control" %></td>
	            <td class="col-xs-3">
	            	<%= f.submit "Aggiungi", class: "btn btn-success" %>	
	            	<%= link_to 'Back', tasks_path, class: "btn btn-default" %>			
	            </td>
	          </tr>
	        </div>        
	      </tbody>   
	    </table>
	  <% end %>
  </div>
</div>